node-red_files/flow.json
[{"id":"87ef44e3.33b4d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a1cdbfb1.c0795","type":"mqtt out","z":"87ef44e3.33b4d8","name":"","topic":"test","qos":"2","retain":"","broker":"fe93e458.66f3c8","x":550,"y":120,"wires":[]},{"id":"7010385f.2c8828","type":"debug","z":"87ef44e3.33b4d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":380,"wires":[]},{"id":"a65b00ef.6784e","type":"mqtt in","z":"87ef44e3.33b4d8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"fe93e458.66f3c8","x":310,"y":300,"wires":[["52ceff09.b88a6","91d8f71f.de2118"]]},{"id":"52ceff09.b88a6","type":"function","z":"87ef44e3.33b4d8","name":"Save new values","func":"var tzoffset = (new Date()).getTimezoneOffset() * 60000;\n\nfechahora = (new Date(Date.now())).toISOString().slice(0,-1);\n\nvar date;\ndate = new Date(Date.now());\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nnewFecha = new Date(Date.now()).toISOString().replace(/T/, ' ').replace(/\\..+/, '');\n\n//++++++++++++++++++++++\n\nstr = msg.payload;\nvalores = new Array(JSON.parse(str));\ntemp = valores[0].temp;\nhum = valores[0].hum;\nid = valores[0].id;\n\n//++++++++++++++++++++++\n\nquery = \"INSERT INTO Mediciones (fecha,temp,hum,dispositivoId) VALUES ('\"+newFecha+\"\\',\"+temp+\",\"+hum+\",\"+id+\");\";\n        //\"VALUES ('\"+fechahora+\"\\',\"+msg.payload+\",\\'\"+msg.topic+\"\\',\"+Date.now()+\");\";\n        \nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["a5af7d06.3c9df"]]},{"id":"7590b702.94d4b8","type":"inject","z":"87ef44e3.33b4d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":350,"y":120,"wires":[["a1cdbfb1.c0795"]]},{"id":"a5af7d06.3c9df","type":"mysql","z":"87ef44e3.33b4d8","mydb":"60357440.92e6cc","name":"Mediciones","x":810,"y":300,"wires":[[]]},{"id":"d1c3087b.b44d58","type":"mysql","z":"87ef44e3.33b4d8","mydb":"60357440.92e6cc","name":"Dispositivos","x":630,"y":380,"wires":[["7aee1e5.b8e96e"]]},{"id":"f1429b5f.8aa8c8","type":"function","z":"87ef44e3.33b4d8","name":"clientId exists?","func":"//++++++++++++++++++++++\n\nstr = msg.payload;\nvalores = new Array(JSON.parse(str));\nclientId = valores[0].clientId;\nid = valores[0].id;\n\n//++++++++++++++++++++++\n\nquery = \"SELECT * FROM Dispositivos WHERE clientId = \\\"\"+clientId+\"\\\";\";\n        \nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["d1c3087b.b44d58","35e0e9f.c7f8016"]]},{"id":"7aee1e5.b8e96e","type":"function","z":"87ef44e3.33b4d8","name":"Assign ID","func":"if(msg.payload[0].dispositivoId){\n    msg.topic = msg.payload[0].clientId + \"/alta\";\n    msg.payload = msg.payload[0].dispositivoId;\n}\nelse{\n    msg.topic = \"chau\";    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":380,"wires":[["7010385f.2c8828","1204a95b.7d07e7"]]},{"id":"35e0e9f.c7f8016","type":"debug","z":"87ef44e3.33b4d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":500,"wires":[]},{"id":"1204a95b.7d07e7","type":"mqtt out","z":"87ef44e3.33b4d8","name":"","topic":"","qos":"","retain":"","broker":"fe93e458.66f3c8","x":1020,"y":460,"wires":[]},{"id":"e0324291.577fd","type":"mqtt in","z":"87ef44e3.33b4d8","name":"","topic":"0/alta","qos":"2","datatype":"auto","broker":"fe93e458.66f3c8","x":250,"y":380,"wires":[["f1429b5f.8aa8c8"]]},{"id":"91d8f71f.de2118","type":"debug","z":"87ef44e3.33b4d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":240,"wires":[]},{"id":"1dfa8761.703b79","type":"mqtt in","z":"87ef44e3.33b4d8","name":"","topic":"7/input","qos":"2","datatype":"auto","broker":"fe93e458.66f3c8","x":340,"y":640,"wires":[["a269b28b.015b8"]]},{"id":"a269b28b.015b8","type":"debug","z":"87ef44e3.33b4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":640,"wires":[]},{"id":"fe93e458.66f3c8","type":"mqtt-broker","z":"","name":"","broker":"mosquitto_docker","port":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60357440.92e6cc","type":"MySQLdatabase","z":"","name":"","host":"mysql-server","port":"3306","db":"DAM","tz":""}]