node-red_files/flows (1).json
[{"id":"a4471252.f5623","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66e99d53.cba644","type":"mqtt in","z":"a4471252.f5623","name":"","topic":"#","qos":"2","datatype":"auto","broker":"7d6c293b.675ea8","x":290,"y":240,"wires":[["c30cdc91.697e4"]]},{"id":"c30cdc91.697e4","type":"function","z":"a4471252.f5623","name":"Save new values","func":"var tzoffset = (new Date()).getTimezoneOffset() * 60000;\n\nfechahora = (new Date(Date.now())).toISOString().slice(0,-1);\n\nvar date;\ndate = new Date(Date.now());\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nnewFecha = new Date(Date.now()).toISOString().replace(/T/, ' ').replace(/\\..+/, '');\n\n//++++++++++++++++++++++\n\nstr = msg.payload;\nvalores = new Array(JSON.parse(str));\ntemp = valores[0].temp;\nhum = valores[0].hum;\nid = valores[0].id;\n\n//++++++++++++++++++++++\n\nquery = \"INSERT INTO Mediciones (fecha,temp,hum,dispositivoId) VALUES ('\"+newFecha+\"\\',\"+temp+\",\"+hum+\",\"+id+\");\";\n        //\"VALUES ('\"+fechahora+\"\\',\"+msg.payload+\",\\'\"+msg.topic+\"\\',\"+Date.now()+\");\";\n        \nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":240,"wires":[["809c9729.587988"]]},{"id":"809c9729.587988","type":"mysql","z":"a4471252.f5623","mydb":"dad1ba9.feeb748","name":"Mediciones","x":790,"y":240,"wires":[[]]},{"id":"ef6b6170.26c2f","type":"mysql","z":"a4471252.f5623","mydb":"dad1ba9.feeb748","name":"Dispositivos","x":630,"y":380,"wires":[["c295cf33.b712c"]]},{"id":"b44257b7.b6e9f8","type":"function","z":"a4471252.f5623","name":"clientId exists?","func":"//++++++++++++++++++++++\n\nstr = msg.payload;\nvalores = new Array(JSON.parse(str));\nclientId = valores[0].clientId;\nid = valores[0].id;\n\n//++++++++++++++++++++++\n\nquery = \"SELECT * FROM Dispositivos WHERE clientId = \\\"\"+clientId+\"\\\";\";\n        \nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["ef6b6170.26c2f"]]},{"id":"c295cf33.b712c","type":"function","z":"a4471252.f5623","name":"Assign ID","func":"if(msg.payload[0].dispositivoId){\n    msg.topic = msg.payload[0].clientId + \"/alta\";\n    msg.payload = msg.payload[0].dispositivoId;\n}\nelse{\n    msg.topic = \"chau\";    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":380,"wires":[["6981f839.a64248"]]},{"id":"6981f839.a64248","type":"mqtt out","z":"a4471252.f5623","name":"","topic":"","qos":"","retain":"","broker":"7d6c293b.675ea8","x":1010,"y":380,"wires":[]},{"id":"2f7d03e3.af798c","type":"mqtt in","z":"a4471252.f5623","name":"","topic":"0/alta","qos":"2","datatype":"auto","broker":"7d6c293b.675ea8","x":250,"y":380,"wires":[["b44257b7.b6e9f8"]]},{"id":"7d6c293b.675ea8","type":"mqtt-broker","z":"","name":"","broker":"mosquitto_docker","port":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dad1ba9.feeb748","type":"MySQLdatabase","z":"","name":"","host":"mysql-server","port":"3306","db":"DAM","tz":""}]